@font-face {
    font-family: 'Prata';
    src: url('https://fonts.googleapis.com/css2?family=Fredoka&family=Libre+Baskerville:wght@700&family=Open+Sans&display=swap') format('woff2');
  }

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Prata'
}

.content__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    min-width: 50%;
    margin: auto;
    margin-top: 5%;
    border: 10px black;
    border-radius: 5px;
    background-color:  #031424;
    font-size: 22px;
}

.article__instance {
    display: flex;
    flex-direction: row;
}
.article__instance a {
    color: white;
}

.list__item {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: .5em;
    border-bottom: 3px #30415d solid;
    padding-bottom: .3em;
    padding-left: 1em;
}

.list__header {
    font-size: 40px;
}

.add__button {
    margin: 50px auto;
    display: block;
    width: 180px;
    height: 50px;
    border: 3px solid white;
    color: white;
    border-radius: 5px;
    background-color: crimson;
    font-weight: bold;
    font-size: large;
    transition: background-color 1s, color 1s
}

.add__button:hover{
    background-color: white;
    color: black;
    cursor: pointer
}