.articleCard-content{
    box-shadow: 4px 4px 4px 4px black;
    min-width: 95%;
    height: 4em;    
    display: flex;
    align-items: center;
    margin: 1em;
    width: 15em;
    background-color: #031424;
    border: 10px black;
    border-radius: 5px;
    justify-content: center;
}
.articleCard-container{
    display: grid;
    grid-template-areas: 'title synopsis favorite';
    grid-template-columns: 2fr 2fr 1fr;
    min-width: 100%;
    padding: 10px 0;
    text-decoration: none;
    color: white;
}

.card-title{
    grid-area: title;
    display: flex;
    align-items: center;
    margin: .5em;

}
.card-synopsis{
    grid-area: synopsis;
    display: flex;
    align-items: center;
    margin: .5em;
}

.card-favorite {
    grid-area: favorite;
    border: none;
    background-color: #031424;
    margin: auto;
    transition: none;
    color: gold;
        font-size: x-large;
}
.card-notFavorite {
    grid-area: favorite;
    border: none;
    transition: none;
    background-color: #031424;
    margin: auto;
    color: black;
    font-size: x-large;
}

.card-favorite:hover {
    background-color: #031424;
    color: gold;
}

.card-notFavorite:hover {
    background-color: #031424;
    color: black;
}
