.content__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    min-width: 50%;
    margin: auto;
    margin-top: 5%;
    border-radius: 10px;
    border-left: 6px black solid;
    border-right: 6px black solid;
    box-shadow: 5px black;
    background-color:  #30415d;
    font-size: 22px;
    padding: 1em;
}

.article__instance {
    display: flex;
    flex-direction: row;
}
.article__instance a {
    color: white;
    text-decoration: underline;
    transition: color 1s;
}

.article__instance a:visited{
    color: darkgray;
}

.article__instance a:hover {
    color:crimson;
    transform: none;

}

.list__item {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-bottom: .5em;
    border-bottom: 3px crimson solid;
    padding-bottom: .3em;
    padding-left: 1em;
}

.list__header {
    font-size: 40px;
}

.add__button {
    margin: 50px auto;
    display: block;
    width: 180px;
    height: 50px;
    border: 3px solid white;
    color: white;
    border-radius: 5px;
    background-color: crimson;
    font-weight: bold;
    font-size: large;
    transition: background-color 1s, color 1s
}

.add__button:hover{
    background-color: white;
    color: black;
    cursor: pointer
}

.list__header {
    width: 98%;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding-top: .3em;
    margin-top: .5em;
    margin-bottom: .7em;
    padding-bottom: 0.3em;
    border: none;
    box-shadow: 3px 3px 3px 3px black;
    background-color: crimson;
}