.task__edit__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    min-width: 25%;
    margin: auto;
    margin-top: 8%;
    border: 10px black;
    border-radius: 5px;
    min-height: 400px;
    background-color:  #031424;
    font-size: 22px;
}

.task__edit__fields {
    display: flex;
    flex-direction: row nowrap;
    justify-content: left;
    align-items: center;
    width: 96%;
    font-size: larger;
    font-weight: bold;
    margin-bottom: .5em;
    padding-bottom: .3em;
    border: none;
    box-shadow: 3px 3px 3px 3px black;
    background-color: #30415d;
    /* border-bottom: 6px #30415d solid; */
    
}

.task__edit__fields ::placeholder {
    color: white;
    font-style: italic;
}

.name {
    margin-left: 3em;
}

.location {
    margin-left: .6em;
}

input[type=text]{
    resize: vertical;
    background-color: #031424;
    border: none;
    color: rgba(255, 255, 255, 1);
    outline: none;
    margin-bottom: .5em;
    padding:.5em;
    box-shadow: 3px 3px 3px 3px black;
    border-radius: 3px;
}

input[type=date]{
    resize: vertical;
    background-color: #031424;
    border: none;
    color: rgba(255, 255, 255, 1);
    outline: none;
    margin-bottom: .5em;
    margin-left: 4em;
    width: 12.6em;
    padding:.5em;
    font-style: italic;
    box-shadow: 3px 3px 3px 3px black;
    border-radius: 3px;
}

.task__edit__header {
    font-size: 40px;
}

.submit__task__edit__button {
    margin: 50px auto;
    display: block;
    width: 180px;
    height: 50px;
    border: 3px solid white;
    color: white;
    border-radius: 5px;
    background-color: crimson;
    font-weight: bold;
    font-size: large;
    transition: background-color 1s, color 1s
}

.submit__task__edit__button:hover{
    background-color: white;
    color: black;
    cursor: pointer
}
