strong {
  font-weight: bold;
}

body {
    background-color: #031424; 
  color:  white !important;
  font-family: 'Open Sans', sans-serif
}

h1, h2, h3, h4, h5 {
  font-family: 'Prata';
}

a {
  color: crimson;
  
}
