.navBar {
    background-color:#031424;
    color: white;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    padding: 1em;
}

.nav_link {
    color: white;
}

.navBar_item {
   flex-basis: 30%;
   list-style-type: none;
   display: flex;
   justify-content: center;
   font-size: larger;
}

.item_left {
    border-left: 2px white solid;
}